.DS_Store

.github
.husky
.vscode

coverage

.gitignore
.dockerignore
.eslintignore
.lintstagedrc
.vscode
.cz.json
.commitlintrc
.npmrc
.releaserc
.eslintrc.json
tsconfig.json

**/.env

Dockerfile
docker-compose.yml

README.md
LICENSE
