.DS_Store

.github
.husky
.vscode

dist
coverage
node_modules

.gitignore
.dockerignore
.eslintignore
.lintstagedrc
.vscode
.cz.json
.commitlintrc
.npmrc
.releaserc
.eslintrc.json
tsconfig.json

Dockerfile
docker-compose.yml
entrypoint.sh

README.md
LICENSE

package.json
package-lock.json
